body { padding-top: 50px; }
.log {
    margin-top: 20px;
    margin-bottom:10px;
    border:none;
    width:100%;
    text-overflow:ellipsis;
    overflow-y:hidden;
    font-size: 0.8em;
}
.bbk {
    border:solid 1px black;
}